<form action="/register" method="post">
<label for="registerUser">Register</label>
<input type="text" name="name" id="nameInput" placeholder="name" />
<input type="email" name="email" id="emailInput" placeholder="email" />
<input type="password" name="password" id="passwordInput" placeholder="password" />
<input type="password" name="confirmPassword" id="confirmPasswordInput" placeholder="confirmPassword" />
<button type="submit">Register</button>


</form>